body{
  text-align: center;
  max-height: 100vh;
}

.city_detail{
  display: flex;
  flex-direction: row;
}

.cities{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;

}
.city_name{
  border: 2px solid peru;
  text-decoration: none;
  color: indigo;
  background: whitesmoke ;
}
#map{
  width:50vw;
  height: 90vh;
  max-height: 90vh;

}

.fresh{
  display: flex;
  flex-direction: row;
}

.station_info{
 width: 50vw;
 max-height: 90vh;
 overflow: hidden;
 overflow-y: scroll;
}